<div class="exp-wrapper">
    <div class="exp" (mouseenter)="cspireHovering = true" (mouseleave)="cspireHovering = false">
      <div class="main-content">
        <div class="left">
          <div class="big-text">Full-Stack Software Developer</div>
          <div class="small-text">Web Development Team - C Spire Business</div>
        </div>
        <div class="right">
          <div class="big-text">C Spire - Ridgeland, MS</div>
          <div class="small-text">May 2023 - Present</div>
        </div>
      </div>
      <div class="hover-to-expand" *ngIf="!cspireHovering" @expandCollapseSmall>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#bbbbbb" d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/></svg>
        Hover To Expand
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#bbbbbb" d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/></svg>
      </div>
      <div class="description-container" *ngIf="cspireHovering" @expandCollapse>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ipsam ut, alias sed similique delectus quia, quos hic aliquam facere repudiandae? Consectetur illum assumenda tenetur. Culpa impedit quidem sed et!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ipsam ut, alias sed similique delectus quia, quos hic aliquam facere repudiandae? Consectetur illum assumenda tenetur. Culpa impedit quidem sed et!
        </div>
      </div>
      <div class="current-indicator">
        <div class="front"></div>
        <div class="back"></div>
      </div>
    </div>
    <div class="box-background"></div>
  </div>
  <div class="exp-wrapper">
    <div class="exp" (mouseenter)="msuHovering = true" (mouseleave)="msuHovering = false">
      <div class="main-content">
        <div class="left">
          <div class="big-text">Graduate Teaching Assistant</div>
          <div class="small-text">Intermediate Computer Programming (C++)</div>
        </div>
        <div class="right">
          <div class="big-text">Mississippi State University</div>
          <div class="small-text">August 2022 - May 2023</div>
        </div>
      </div>
      <div class="hover-to-expand" *ngIf="!msuHovering" @expandCollapseSmall>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#bbbbbb" d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/></svg>
        Hover To Expand
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#bbbbbb" d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/></svg>
      </div>
      <div class="description-container" *ngIf="msuHovering" @expandCollapse>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ipsam ut, alias sed similique delectus quia, quos hic aliquam facere repudiandae? Consectetur illum assumenda tenetur. Culpa impedit quidem sed et!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ipsam ut, alias sed similique delectus quia, quos hic aliquam facere repudiandae? Consectetur illum assumenda tenetur. Culpa impedit quidem sed et!
        </div>
      </div>
    </div>
    <div class="box-background alt"></div>
  </div>
  <div class="exp-wrapper">
    <div class="exp" (mouseenter)="internshipHovering = true" (mouseleave)="internshipHovering = false">
      <div class="main-content">
        <div class="left">
          <div class="big-text">Software Development Internship</div>
          <div class="small-text">Web Development Team - DevOps</div>
        </div>
        <div class="right">
          <div class="big-text">C Spire - Ridgeland, MS</div>
          <div class="small-text">June 2022 - July 2022</div>
        </div>
      </div>
      <div class="hover-to-expand" *ngIf="!internshipHovering" @expandCollapseSmall>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#bbbbbb" d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/></svg>
        Hover To Expand
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#bbbbbb" d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/></svg>
      </div>
      <div class="description-container" *ngIf="internshipHovering" @expandCollapse>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ipsam ut, alias sed similique delectus quia, quos hic aliquam facere repudiandae? Consectetur illum assumenda tenetur. Culpa impedit quidem sed et!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ipsam ut, alias sed similique delectus quia, quos hic aliquam facere repudiandae? Consectetur illum assumenda tenetur. Culpa impedit quidem sed et!
        </div>
      </div>
    </div>
    <div class="box-background"></div>
  </div>
  <div class="backdrop"></div>
  