@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

$off-white: #F8F1F8;
$pretty-pink: #E495FF;
$pretty-pink-light: #F3C3F3;
$obsidian: #211C24;
$gentle-red: #FF6161;
$gentle-blue: #50ADFF;

